RewriteEngine On

# Deny access to sensitive files
<FilesMatch "(^\.|composer\.json|composer\.lock|\.env)">
    Require all denied
</FilesMatch>

# If the requested file/folder does not exist, redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [QSA,L]

# Disable directory listing
Options -Indexes
